/.github/*                      @sodiqjonovich
/test/*                         @Rustambekovich
/dbf/*                          @SamandarYigitaliyev
/src/GreenSaleuz.Domain/*       @SamandarYigitaliyev
/src/GreenSaleuz.DataAccess/*   @SamandarYigitaliyev    
/src/GreenSaleuz.Persistence/*  @Rustambekovich
/src/GreenSaleuz.Services/*     @Rustambekovich
/src/GreenSaleuz.WebApi/*       @Rustambekovich